$main-bg-color: #ffffff;
$paragraph-color: #505F98;
$main-btn-color: #111B47;
$secondary-dark-color: #091133;



body {
  margin: 0;
  padding: 0;
  background-color: main-bg-color;

  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  h1,h2,h3,h4,h5,h6,p,a,span,button {
    font-family: 'Roboto', sans-serif;
  }

  p {
    color: $paragraph-color;
  }

  .container {
    max-width: 912px;
    margin: 0 auto;
  }

  .main-btn {
    background-color: $main-btn-color;
    color: white;
    width: 189px;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
  }

  .secondary-btn {
    background-color: transparent;
    color: $secondary-dark-color;
    width: 189px;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    border: 2px $secondary-dark-color solid;
    border-radius: 2px;
  }

  .nav-btn {
    background-color: $main-btn-color;
    color: white;
    width: 160px;
    height: 26px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
  }

  #designer {
    position: absolute;
    right: 0;
    top: 0;
    width: 790px;
    height: auto;
    z-index: -1;
  }

  #main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #link-holder {
      width: 230px;
      height: 100%;;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $paragraph-color;
        text-decoration: none;;
      }
    }
  
    #logo-holder {
      #logo {
        width: 80px;
        height: 40px;
      }
    }
  }

  #hero {
    width: 50%;
    margin: 150px 0 450px 0;

    h1 {
      font-size: 35px;
      color: $secondary-dark-color;
      font-weight: 500;
      margin: 10px 0;
    }

    p {
      font-size: 15px;
      color: $paragraph-color;
      line-height: 30px;
    }

    .btn-holder {
      margin-top: 50px;

      button {
        margin-right: 20px;
      }
    }
  }

  #boxes {
    .box {
      display: flex;
      margin-bottom: 200px;
      gap: 50px;
      
      .text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        p {
          line-height: 30px;
        }

        .icons-holder {
          display: flex;

          h3 {
            font-size: 14px;
          }

          p {
            font-size: 10px;
            line-height: 15px;
          }
        }
      }

      .pic {
        display: flex;
        align-items: flex-end;

        img {
          width: 430px;
          height: auto;
        }
      }
    }
  }
}